@page
@{
    Layout = "~/Pages/Shared/Tables.cshtml"; // Указываем путь к макету
    ViewData["Title"] = "Симптомы и болезни";
}
<link rel="stylesheet" href="~/css/modal_list.css" asp-append-version="true" />
<div id="filter-container">
    <label for="filter-disease">Disease:</label>
    <input type="text" id="filter-disease" oninput="applyDiseaseSymptomFilters()">

    <label for="filter-symptom">Symptom:</label>
    <input type="text" id="filter-symptom" oninput="applyDiseaseSymptomFilters()">
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js"></script>
<script rel="stylesheet" src="~/js/diseaseSymptoms/get.js" asp-append-version="true"></script>
<script rel="stylesheet" src="~/js/diseaseSymptoms/edit.js" asp-append-version="true"></script>
<script rel="stylesheet" src="~/js/diseaseSymptoms/create.js" asp-append-version="true"></script>
<script rel="stylesheet" src="~/js/diseaseSymptoms/info.js" asp-append-version="true"></script>