@page
@{
    Layout = "~/Pages/Shared/Tables.cshtml"; // Указываем путь к макету
    ViewData["Title"] = "Препораты";
}
<div id="filter-container">
    <label for="filter-name">Фильтр по имени:</label>
    <input type="text" id="filter-name" oninput="applyFilters()">
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js"></script>
<script rel="stylesheet" src="~/js/medicines/get.js" asp-append-version="true"></script>
<script rel="stylesheet" src="~/js/medicines/edit.js" asp-append-version="true"></script>
<script rel="stylesheet" src="~/js/medicines/create.js" asp-append-version="true"></script>
<script rel="stylesheet" src="~/js/medicines/info.js" asp-append-version="true"></script>