/* Общий стиль для страницы */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Стили для шапки */
header {
    background-color: #333;
    color: white;
    padding: 10px 0;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

    .menu li {
        position: relative;
    }

    .menu a {
        text-decoration: none;
        color: white;
        font-weight: bold;
        padding: 10px 20px;
        transition: background-color 0.3s, color 0.3s;
    }

        .menu a:hover {
            background-color: #555;
            color: #fff;
            border-radius: 5px;
        }

/* Стили для футера */
footer {
    text-align: center;
    padding: 10px;
    background-color: #f1f1f1;
    margin-top: 20px;
}
a {
    text-decoration: none;
}

.dropdown-container {
    position: absolute;
    z-index: 100;
    background-color: white;
    border: 1px solid #ccc;
    width: 200px;
    max-height: 150px;
    overflow-y: auto;
    display: none;
}

.dropdown-item {
    padding: 8px;
    cursor: pointer;
}

    .dropdown-item:hover {
        background-color: #f0f0f0;
    }

.search-input {
    width: 100%;
    padding: 5px;
    margin-bottom: 5px;
}
