
/* Общий стиль для страницы */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1e1e1e; /* Темный фон */
    color: #eaeaea; /* Светлый текст */
}

/* Стили для шапки */
header {
    background-color: #222; /* Темный фон шапки */
    color: white;
    padding: 15px 0;
    font-size: 0.9em; /* Увеличим размер шрифта для шапки */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Легкая тень для шапки */
}

/* Меню */
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Размещаем элементы по вертикали */
}

/* Градиент для меню */
.menu {
    list-style: none; /* Убираем маркеры списка */
    padding: 0;
    margin: 0 0 10px 0; /* Расстояние между списками */
    display: flex;
    gap: 30px;
    background: linear-gradient(45deg, #58a6ff, #2e7d32); /* Градиент */
    border-radius: 8px;
    padding: 5px;
}

    .menu li {
        position: relative;
    }

    .menu a {
        text-decoration: none;
        color: white;
        font-weight: bold;
        padding: 12px 25px;
        transition: background-color 0.3s, color 0.3s;
        border-radius: 5px;
    }

        .menu a:hover {
            color: #58a6ff;
        }

/* Если нужно уменьшить высоту строк */
.navbar .menu li {
    line-height: 1.5;
}

/* Стили для футера */
footer {
    text-align: center;
    padding: 20px;
    background-color: #333; /* Темный фон футера */
    margin-top: 30px;
    color: #eaeaea;
    font-size: 0.8em;
}

/* Ссылки без подчеркивания */
a {
    text-decoration: none;
    color: inherit; /* Цвет ссылки будет соответствовать цвету текста */
}

/* Выпадающее меню */
.dropdown-container {
    position: absolute;
    z-index: 100;
    background-color: #333;
    border: 1px solid #444;
    width: 200px;
    max-height: 150px;
    overflow-y: auto;
    display: none;
    border-radius: 8px;
}

.dropdown-item {
    padding: 8px;
    cursor: pointer;
    color: #eaeaea;
}

    .dropdown-item:hover {
        background-color: #555;
    }

/* Стиль для поля поиска */
.search-input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #444;
    border: 1px solid #555;
    color: #eaeaea;
}

    .search-input:focus {
        outline: none;
        border-color: #58a6ff; /* Подсветка при фокусе */
    }
