<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="/css/site.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/table.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/modal_info.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar">
            <ul class="menu">
                <li><a href="/Home/Auth">Аккаунт</a></li>
                <li><a href="/Home/Index">Домой</a></li>
                <li><a href="/Tables/SingleRecords/Symptoms">Симптомы</a></li>
                <li><a href="/Tables/SingleRecords/Diseases">Болезни</a></li>
                <li><a href="/Tables/SingleRecords/Genders">Гендеры</a></li>
                <li><a href="/Tables/SingleRecords/Manufacturers">Производители</a></li>
                <li><a href="/Tables/SingleRecords/Users">Пользователи</a></li>
            </ul>
            <ul class="menu">
                <li><a href="/Tables/MultipleRecords/DiseaseSymptoms">Симптомы и Болезни</a></li>
                <li><a href="/Tables/MultipleRecords/FamilyMembers">Члены семьи</a></li>
                <li><a href="/Tables/MultipleRecords/MedicinePrices">Цены препоратов</a></li>
                <li><a href="/Tables/MultipleRecords/Medicines">Препораты</a></li>
                @*<li><a href="/Tables/MultipleRecords/Prescriptions">Рецепты</a></li>
                <li><a href="/Tables/MultipleRecords/Treatments">Лечение</a></li> *@
            </ul>
        </nav>
    </header>
    <main>
        <script rel="stylesheet" src="~/js/crud.js" asp-append-version="true"></script>
        <script rel="stylesheet" src="~/js/layout.js" asp-append-version="true"></script>
        @RenderBody() <!-- Здесь будет вставлено содержимое дочерних страниц -->
    </main>
    <footer>
        <p>&copy; 2024 Medicinal System</p>
    </footer>
</body>
</html>
